body{
	padding: 0;
	margin: 0;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 6em;
	color: white;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	z-index: 2;
}

p{
	font-family: 'Roboto', sans-serif;
	flex: 1;
	overflow: auto;
}

#header{
	position: fixed;
	width: calc(100% - 20px);
	display: flex;
	justify-content: space-between;
	color: white;
	padding: 7px 10px 7px 10px;
	z-index: 1;
}

#header-title{
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
	margin: 0;
}

#open-drawer{
	margin: 5px;
}

#drawer{
	position: fixed;
	right: -200px;
	width: 200px;
	height: 100vh;
	background-color: #F5F5F5;
	z-index: 2;
}

.nav{
	width: 100%;
	height: 50px;
	background-color: transparent;
	border: none;
}

.nav:focus{
	outline:0;
}

.nav:hover{
	background-color: #E0E0E0;
}

#title-container{
	width: 100%;
	height: 100vh;
	min-height: 800px;
	background-image: url('./images/splash-black.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: -1;
}

@keyframes title {
	0%		{right: 0; opacity: 0;}
	100%	{right: 45px; opacity: 1;}
}

#title{
	position: absolute;
	top: 50px;
	right: 0px;
	text-align: right;
	opacity: 0;
	animation-name: title;
	animation-delay: 1.75s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes arrow {
	0%		{bottom: 30px;}
	50%		{bottom: 35px;}
	100%	{bottom: 30px;}
}

.fa-chevron-down{
	color: white;
	position: absolute;
	bottom: 30px;
	left: 50%;
	font-size: 3em;
	opacity: 0.5;
	animation-name: arrow;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

#content{
	width: 100%;
}

.page{
	width: 100%;
	height: 100vh;
	min-height: 700px;
}

.subtitle{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#profile-content{
	display: flex;
	flex-direction: row;
	padding: 30px;
	min-height: 500px;
}

#profile-image{
	flex: 1;
	margin-left: 30px;
	background-image: url('./images/about.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#resume-content{
	display: flex;
	flex-direction: row;
	padding: 30px;
	min-height: 500px;
}

#resume-content > a{
	flex: 1;
	margin-right: 30px;
	height: 75vh;
	min-height: 500;
}


#resume-image{
	width: 100%;
	height: 100%;	
	background-image: url('./images/resume.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.parallax{
	width: 100%;
	height: 350px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#first{
	background-image: url('./images/code.jpg');
}

#second{
	background-image: url('./images/chart.jpg');
}

#third{
	background-image: url('./images/phone.jpg');
}